.detailView {
    grid-column: span 3;
    grid-row: span 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr;
    gap: 2rem;
    font-size: 1.2rem;
    padding: 2rem;

    aspect-ratio: auto;
    overflow: auto;      
    align-self: stretch;      
    max-height: 60rem; 
}

.detailView img {
    grid-column: 1;
    grid-row: 2;
    border-radius: 2rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    
}

.detailView h2 {
    grid-column: span 2;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: auto;
} 

.ingredientList {
    grid-column: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: aquamarine;
    border-radius: 2rem;
    max-height: 100%;
}

.instructionList {
    grid-column: 2;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: aquamarine;
    padding: 2rem;
    border-radius: 2rem;
}